@import "tailwindcss";

html {
  font-family: monospace;
  letter-spacing: -0.025rem;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

h1,
h2 {
  font-weight: 600;
  font-size: xx-large;
}

h1 {
  text-transform: capitalize;
  font-family: Helvetica, sans-serif;
}

h3 {
  font-family: 500;
  font-size: larger;
  font-weight: bold;
}

h2::first-letter,
h3::first-letter,
p::first-letter,
a:not(.no-first-uppercase)::first-letter,
li::first-letter,
span:not(.no-first-uppercase)::first-letter {
  text-transform: uppercase;
}

h3,
p,
span,
a,
h1,
h2,
img {
  color: var(--text-color);
}

a {
  @apply hover:underline;
}

.icon {
  @apply transform rounded border border-gray-400 p-1 transition duration-200 ease-in-out hover:bg-gray-200;
}

li {
  margin: 0;
}

.bull {
  @apply list-disc pl-5;
}

hr {
  @apply mb-3 w-full border;
}

.active {
  @apply transform rounded-4xl bg-gray-200 p-1 transition-colors duration-200 ease-in-out;
  padding: 0;
}

.active Button {
  fill: black;
}

section {
  @apply w-full;
}

:root {
  --bg-color: #ffffff;
  --text-color: rgba(17, 17, 17, 0.9);
  --nav-bg: rgb(229, 229, 229);
  --nav-border: rgba(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #101426;
    --text-color: rgba(255, 255, 255, 0.9);
    --nav-bg: rgba(0, 0, 0, 0.3);
    --nav-border: rgba(0, 0, 0);
  }
}

html.dark {
  --bg-color: #171717;
  --text-color: rgba(255, 255, 255, 0.9);
  --nav-bg: rgba(0, 0, 0, 0.3);
  --nav-border: rgba(0, 0, 0);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overscroll-behavior: none;
}

/* Print */
@media print {
  nav,
  #About,
  #Footer {
    display: none;
  }

  .containerPage,
  section,
  .container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-width: 100%;
  }

  .containgrid {
    grid-template-columns: repeat(2, 1fr) !important;
    display: grid !important;
  }

  .noprint {
    display: none;
  }
  .print {
    display: block;
  }

  .info {
    grid-template-columns: 1fr !important;
    text-align: center !important;
  }
}
