@import "tailwindcss";
html {
  font-family: monospace;
  letter-spacing: -0.025rem;
}

h1,
h2 {
  font-weight: 600;
}
h1,
h2,
h3,
a {
  text-transform: capitalize;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: xx-large;
}

h2 {
  font-size: xx-large;
}

h3 {
  font-family: 500;
  font-size: larger;
  font-weight: bold;
}

h3,
p,
span,
a {
  color: rgba(3, 7, 18, 0.8);
}

p::first-letter,
a::first-letter {
  text-transform: uppercase;
}

a {
  @apply hover:underline;
}

.icon {
  @apply mr-1.5 transform rounded border border-gray-400 p-1 transition transition-colors duration-200 ease-in-out hover:bg-gray-200;
}

li {
  margin: 0;
}

.bull {
  @apply list-disc pl-5;
}

hr {
  @apply mb-3 w-full border;
}
