---
import "../styles/global.css";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
---

<Layout>
  <div
    class="container mx-auto flex flex-col items-center justify-center p-6 md:p-16"
  >
    <Hero />
  </div>
</Layout>
