---
import "../styles/global.css";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import About from "@/components/About.astro";
import Projects from "@/components/Projects.astro";
import CoursesAndCertifications from "@/components/CoursesAndCertifications.astro";
import Skills from "@/components/Skills.astro";
import { translations } from "@/i18n/utils/utils";
const translationsModule = translations as {
  default: {
    basics: any;
    about: any;
    experience: any;
    volunteer: any;
    education: any;
    awards: any;
    certificates: any;
    publications: any;
    skills: any;
    languages: any;
    interests: any;
    references: any;
    projects: any;
  };
};
const {
  basics = {},
  about: about = {},
  experience: experience = {},
  volunteer = {},
  education = {},
  awards = {},
  certificates = {},
  publications = {},
  skills = {},
  languages = {},
  interests = {},
  references = {},
  projects = {},
} = translationsModule.default;
---

<Layout>
  <div
    class="container mx-auto flex flex-col items-center justify-center gap-y-8 p-6 md:p-20 xl:px-75"
  >
    {basics.name && <Hero data={basics} />}
    {about.title && <About data={about} />}
    {projects.list && <Projects data={[projects, skills]} />}
    {certificates.list && <CoursesAndCertifications data={certificates} />}
    {skills.list && <Skills data={skills} />}
  </div>
</Layout>
