---
const { data } = Astro.props;
---

<section
  id="About"
  aria-labelledby="about-heading"
  itemscope
  itemtype="https://schema.org/AboutPage"
>
  <h2 id="projects-heading" itemprop="name">{data.title}</h2>
  <hr />
  <p itemprop="description">{data.description}</p>
</section>
