---
import { Image } from "astro:assets";
const { categorie, data, icon, onClick } = Astro.props;
---

<button onclick={onClick} class="flex items-center">
  {
    icon && (
      <Image
        src={icon}
        alt={categorie}
        title={data}
        class="icon svg"
        width={28}
        height={28}
        style="width:28px; height:28px;"
      />
    )
  }
</button>
