---
import SkillBadge from "./SkillBadge.astro";
const { data } = Astro.props;
const skills = data;
---

<section aria-labelledby="skills-heading">
  <h2 id="skills-heading">{data.title}</h2>
  <ul class="container flex flex-wrap gap-y-2" role="list">
    {
      skills &&
        skills.list &&
        skills.list.length > 0 &&
        skills.list.map((skillData) => (
          <li role="listitem">
            <SkillBadge
              name={skillData.name}
              icon={skillData.icon}
              aria-label={skillData.name}
            />
          </li>
        ))
    }
  </ul>
</section>
